<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
		class="org.sakaiproject.calendar.entityproviders.CalendarEventEntityProvider" init-method="init">
		<property name="calendarService"
			ref="org.sakaiproject.calendar.api.CalendarService" />
		<property name="siteService" ref="org.sakaiproject.site.api.SiteService" />
		<property name="timeService" ref="org.sakaiproject.time.api.TimeService" />
		<property name="entityManager"><ref bean="org.sakaiproject.entity.api.EntityManager"/></property>
	</bean>
	
</beans>