<div class="portletBody"> 
	<h3>
		$tlang.getString('ical.opaqueurl.header')
	</h3>
	$tlang.getString('ical.opaqueurl.message')
	<form action="#toolForm($action)" method="post">
    	<p class="act">
        	<input type="submit" accesskey="x" name="$form-cancel" value="$tlang.getString("gen.back")" />
    	</p>
	</form>
</div>
